<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="eConciergeDB" connectionString="Data Source=setu-pc\sqlexpress;Initial Catalog=EConcierge; User ID=sa; Password=raas;" />
    <!--<add name="eConciergeDB" connectionString="Data Source=SARAF-VAIO\MSSQLSERVER2008;Initial Catalog=EConcierge; User ID=sa; Password=saraf123;" />-->
  </connectionStrings>
</configuration>