<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <connectionStrings>
    <!--<add name="eConciergeDB" connectionString="Data Source=setu-pc\sqlexpress;Initial Catalog=EConcierge; User ID=sa; Password=raas;" />-->
    <add name="eConciergeDB" connectionString="Data Source=SARAF-VAIO\MSSQLSERVER2008;Initial Catalog=EConcierge; User ID=sa; Password=saraf123;" />
  </connectionStrings>
  <appSettings>
    <add key="Theme" value="HotRed" />
    <add key="IntroVideoPath" value="D:\MEDIA\man lafanga bada.mp4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>